[green_agent]
endpoint = "http://127.0.0.1:8081"
cmd = "python src/green_car_bench_agent/server.py --host 127.0.0.1 --port 8081"

[[participants]]
role = "agent"
endpoint = "http://127.0.0.1:8080"
cmd = "python src/purple_car_bench_agent/server.py --host 127.0.0.1 --port 8080 --agent-llm anthropic/claude-haiku-4-5-20251001"

[config]
num_trials = 3
task_split = "test"  # "train" or "test"
# Specify number of tasks to run (first N tasks) or use task_id_filter for specific tasks
tasks_base_num_tasks = 2 # First N tasks in type/split, -1 for all.
tasks_hallucination_num_tasks = 0 # First N tasks in type/split, -1 for all.
tasks_disambiguation_num_tasks = 0 # First N tasks in type/split, -1 for all.
# Alternative: Run specific task IDs, priority over num_tasks. Have to be in the correct type/split (check task_split.json)
# tasks_base_task_id_filter = ["base_0", "base_2"]
# tasks_hallucination_task_id_filter = ["hallucination_0"]
# tasks_disambiguation_task_id_filter = ["disambiguation_0"]
max_steps = 50
